/* Remove horizontal scroll issues */
* {
  box-sizing: border-box;
}

html, body {
  /* max-width: 100%; */
  overflow-x: hidden;
}

/* Margin fixes for mobile spacing */
@media (max-width:768px) {
  /* section {
    padding: 50px 20px;
  } */

  .container{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}


/* Mobile Hero Text Scaling */
@media (max-width:768px) {

.navbar-collapse{
  background: white;
  height: 18rem;
  /* border-radius: 10px;  */


}
  .hero {
    height: 80vh;
    /* padding: 40px 20px; */
    text-align: center;
  }
  .hero-subtext{
    font-size: 14px;
    font-weight: 400;
  }

  .hero-title {
    font-size: 16px !important;

    /* line-height: 1.2; */
  }

  .hero-highlight {
    font-size: 16px !important;
    
  }
  .hero-buttons {
    flex-direction: row;
    gap: 10px;
  }
  .stat-icon img{
    width:  30px;
    height: 30px;
    
  }
  .stats-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  
.stats-section .col-md-2 {
   font-size: 14px;
   width: 30%;
   /* flex-direction: column; */

   
  }
  .stats-section h2{
    font-size: 16px;
  }
  .stats-section p{
      font-size: 14px;
      font-weight: 400;
  }
  .btn{
    font-size: 14px;
  }

}
/* About Us */
@media  (max-width:768px) {

    .about-section {
    /* margin-bottom: 30px; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
  }  

  .about-title {
    font-size: 18px;
    text-align: center;
  }
  .about-title span{
    font-size: 18px;   
    }
  
  .about-text {
    font-size: 14px;
    font-weight: 400;
    
  }
  .about-section ul {
    padding-left: 0 !important;
    text-align: start;


  }

  .about-section li {
    justify-content: start;
    font-size: 14px;
  }
  /* .about-section  img{
    object-fit: contain;  
  } */
}

/* Services Section */

@media (max-width:768px) {

  .services-title {
    font-size: 30px;
    padding: 10px;
  }

  .service-card {
    text-align: center;
    padding: 25px;
  }

  .icon-box {
    margin: 0 auto;
  }
}
/* Pricing */

  @media (max-width:768px) {
    .features {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  } 

@media (max-width:768px) {
  .contact-box{
  width: 100%;

  } 
}
/* Footer */
@media (max-width:768px) {
  footer {
    text-align: center;
  }
  .footer-logo{
    width: 200px;
  }
}
