/* Remove horizontal scroll issues */
/* *{
  box-sizing: border-box;
}
body {

  overflow-x: hidden;
} */





/* Margin fixes for mobile spacing */
/* @media  (min-width: 0px) and (max-width:768px) {
  section {
    padding: 20px 20px;
  }

  .container{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
} */


/* Mobile navbar background white when open */
  /* .navbar-collapse.show {
    background: #ffffff !important;
    padding: 1.2rem 0.8rem;
    text-align: center !important;
  } 

   .navbar-nav ,.nav-item {
    width: 100%;
    text-align: center !important;
    margin: 0.5rem 0;
  } 
  .navbar-toggler{
    width:2rem;
  } 
  .navbar-brand{
    width:50%;
  }


  .get-touch-btn {
    width: 100%;
    display: block;
    padding: 12px 0;
    border-radius: 8px;
    text-align: center;
  }
 */


  
@media (max-width:768px) {

/* Mobile Hero Text Scaling */  
.hero-inner{
  width: 100%;
  margin: auto;
  justify-content:center;
  text-align: center;
  
}
   .hero-title {
  font-size: 32px !important;
   }
.hero-highlight {
  font-size: 32px !important; 
}
 .hero-subtext {
  font-size: 14px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
    }
  /* .hero-buttons {
    flex-direction: row;
    gap: 10px;
  } */
  .stat-icon img{
    padding: 5px;
  }
/* 
  .hero-stats{
  margin-top: 3.2rem;
} */

.stat-card {
  text-align: center;
}
.stat-number {
  font-weight: 700;
  font-size: 18px;
  color: #1076BC;
}

.stat-label {
  font-family: "Inter", sans-serif;
  color: #666666; 
  font-size:14px;

}
 .btn-primary-custom {
  font-family: "Inter", sans-serif;
  background-color: #0CA8C0;
  border-color:  #0CA8C0;
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.btn-light-custom {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
  font-weight: 500;
  font-size: 14px;
  color: #666666;
  border-color: #e5e7eb;
}
/* About Us */
    .inner {
    /* margin-bottom: 30px; */
    width: 100%;
    flex-direction: column-reverse;
  }  

  .about-title {
      font-size: 32px !important;
    /* text-align: center; */
  }
  .about-title span{
        font-size: 32px !important;

    }
    .about-text {
    font-size: 12px;  
    font-weight: 400;
    
  }
  
    .main-image img{
      width: 100%;
    }
  
      .list-unstyled span{
        font-size: 14px;
        padding:2px;
    }
/* Services Section */

  .services-title {
    font-size: 32px;
    padding: 10px;
  }
.services-subtext{
font-size: 14px;
}
  .service-card {
    /* width: 100%; */
    text-align: center;
  }
  .icon-box {
    margin: 0 auto;
  }
  .service-card{
    margin: 0 10px;
  }


/* Pricing */
 .pricing .col-md-2{
  display: flex;
  justify-content: center;
 /* margin: 3%; */
}
.pricing-title{
    font-size: 32px;
}
  .pricing-card {
        background: #FAFAFA;
        width: 70%;
        border: 2px solid #eaeaea;
        transition: 0.2s ease-in-out; 
    }  
.pricing-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px #1076BC;
        border:2px solid #1076BC;
    }
.features .col-3{ 
  width: 100%;   
  text-align:start;     
  margin: auto;
} 
.features img{
  padding: 4px;
}
.payment-logo{
  width: 250px;
}
  .contact-box{
  width: 100%;
  } 
  .contact-title{
   font-size: 32px;
  font-weight: 700;
}
/* Footer */
.footer-heading{
  font-size: 14px;
}
.footer-logo{
    width: 200px;
  }
}

