* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  color: #0b1220;
}


.navbar,
.navbar * {
  background: transparent !important;
  box-shadow: none !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0.75rem 1rem;
  transition: all 0.35s ease-in-out;
  font-weight: 500;
  color: #0D0D0DCC;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.18) !important;
  backdrop-filter: blur(14px) !important;
  -webkit-backdrop-filter: blur(14px) !important;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08) !important;
}
 .get-touch-btn {
  background: #1076BC !important;
  color: #fff !important;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
  min-width: 120px;
  font-size: 14px;

}

.get-touch-btn .arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.get-touch-btn:hover .arrow {
  opacity: 1;
  right: 8px;
}

.get-touch-btn:hover {
  padding-right: 28px;  
}

    /* HERO SECTION */
    .hero{
      background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.98)),
     url('./assets/Fitness\ Basis\ Gym.png')
      center/cover no-repeat;
       min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;

    }
    
    .hero-title {
  font-size: 72px;
  font-weight: 700;  
  margin: 0;
    color: #0D0D0D;
    }

    .hero-highlight {
        font-size: 72px;
        font-weight: 700;
        color: #1076BC;
        /* background: #0CA8C0; */
    }
    .hero-subtext {
 line-height: 32px;
  font-weight: 400;
  font-size: 24px;
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
    }
.btn-primary-custom {
  font-family: "Inter", sans-serif;
  background-color: #1076BC;
  border-color:  #1076BC;
  border-radius: 10px;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.btn-primary-custom:hover {
  background-color: #1076BC;
  border-color: #1076BC ;
  color: white;
}

.btn-primary-custom .arrow {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.btn-primary-custom:hover .arrow {
  transform: translateX(6px);
}

.btn-light-custom {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  border-color: #e5e7eb;
}

.btn-light-custom:hover {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  border-color: #e5e7eb;
}


.hero-stats {
  margin-top: 2.5rem;
}

.stat-card {
  text-align: center;
}
.stat-number {
  font-weight: 700;
  font-size: 36px;
  color: #1076BC;
}

.stat-label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #666666;
}


    /* .hero-btn {
        background: #1076BC !important;
        border: none;
        color: white;
    }

    .hero-btn:hover {
        background: #1076BC !important;
    }

    .hero-btn-border {
        border: 2px solid #0CA8C0;
        border: none;
    }

    .hero-btn-border:hover {
        background: #1076BC;
        color: white;
    }
    .stats-section {
        position: relative;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding-top: 30px;
        bottom: -30px;
    }
    .stats-section h2 {
    color: #1076BC;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    } */


    /* About Us  */

     
     .inner{
        margin: auto;
        width: 100%;  
        
     }
     .about-title {
  font-weight: 700;
  font-size: 48px;
}

.about-title span {
  color: #1076BC;
}

.about-text {
  font-family: "Inter", sans-serif;
  color: #666666;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 29px;
  font-size: 18px;
}
 
    .feature-icon {
        font-size: 16px;
        color: #1076BC;
        margin-right: 10px;
    }   
    .list-unstyled span{
        font-size: 16px;
         /* line-height: 1.8;  */
        padding:12px; 
    }
    .main-image img{
            width: 600px;
    }
    /* .main-image img{
        width: 800px;
    } */
    .main-content{
        width: 100%;
    }
  
 


    /* Serivices Section */
    
    .services-title {
        font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
  color: #111827; 
    }

    .services-title span {
        color: #1076BC;
    }

   

    .service-card {
   background-color: #FAFAFA;
        padding: 22px;
        border-radius: 18px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.04);
        transition: 0.3s ease-in-out;
        border: 1px solid rgba(0,0,0,0.03);
    }

    .service-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px #1076BC;
    }

    .icon-box {
        width: 55px;
        height: 55px;
        background: #0CA8C01A;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: #1076BC;
        font-size: 26px;
    }

    /* Pricing section */

      .pricing-title{
          font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
  color: #111827;
    }
      .pricing-title span{
        color: #1076BC;
      
      }
    .pricing-card {
        background: #FAFAFA;
        width:200px;
        border: 2px solid #eaeaea;
        transition: 0.2s ease-in-out;
    }

    .pricing-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px #1076BC;
        border:2px solid #1076BC;

    }
       .pricing-card h2{
        color: #1076BC;

       }
     .pricing-card button{
        background-color: #FFFFFF;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        font-weight: normal;
     }
    .pricing-card button:hover{
        background:#1076BC;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: normal;
        border: none;
     }

    .highlight-border {
        border: 2px solid #1076BC !important;
    }

    .popular-badge, .best-value-badge {
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        background: #1076BC;
        color: white;
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 10px;
        font-weight: normal;
    }

    .best-value-badge {
        background: #00c853;
    }

    .feature-box {     
     /* background-color: rgba(250, 250, 250, 1);z+*/
     background:  rgba(250, 250, 250, 1) ;
            box-shadow: 0 2px 10px rgba(0,0,0,0.04);


    }


    /* Contact Section */
.Contactz{
    background: white;
}
    .contact-box {
        border: 2px solid #f1f1f1;
background:rgba(250, 250, 250, 1) ;        transition: 0.3s;
    }

    form{
background:rgba(250, 250, 250, 1) ;

    }
    
    #Contact span{
        color: #1076BC;
    }
    .contact-box:hover {
        border-color: #1076BC;
        transform: translateY(-3px);
    }

    .contact-box .icon-box {
        width: 50px;
        height: 50px;
        background: #e8fafd;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Contact button{
        color: white;
        background: #1076BC;
    }
   /* footer--------- */
 .footer-section {
  border-top:1px solid #E6E6E6 ;
    padding: 50px 15px 40px;
    background-color: #ffffff;
    color: #111827;
    font-family: "Outfit", sans-serif;
    margin-top: 3rem;
  }

  

  .footer-heading {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 4px;
    line-height: 24xpx;
  }
  
  .footer-subtext {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
    line-height: 24xpx;
  }

  .footer-divider {
    margin: 18px auto;
    width: 90%;
    border-color: #e5e7eb;
  }

  .footer-copy {
    font-size: 14px;
    color: #666666;
    margin-bottom: 0;
  }

