    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
         font-family: "Inter", sans-serif;
    }
    /* Mode button */
/* Toggle Button Style */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

 .switch input {
  display: none;
} 

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 50px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Light & Dark Mode */
body {
  background:#FFFFFF;
  color: #000;
  transition: 0.3s;
}

.dark-mode {
  background: #121212;
  color: #fff;
}



    /* NAVBAR GLASS EFFECT */
    .glass-nav {
        /* background: white; */
        padding: 5px 0;
    }
    .navbar-logo img{
        width: 200px;

    }
    /* .navbar-nav{
        background: rgba(255, 255, 255, 0.15);
        } */
    .nav-link {
        font-size: 14px;
        margin:0 5px;
        /* font-weight: 400; */
    }

    .nav-link:hover {
        color: #1076BC !important;
    }   

    .nav-btn {
        background: #1076BC !important;
        border: none;
    }

    .nav-btn:hover {
        background: #1076BC !important;
    }

    /* HERO SECTION */
    .hero{
        width: 100%;

    }
    .overlay {    
    background-image: url('./assets/Fitness\ Basis\ Gym.png');
    background-size: cover; 
    background-position:left top;
    background-repeat: no-repeat;
     padding: 100px 20px;
    }
    
    .hero-title {
        font-size: 48px;
        font-weight: 800;
        color: #111;;
    }

    .hero-highlight {
        font-size: 48px;
        font-weight: 800;
        color: #1076BC;
        /* background: #0CA8C0; */

    }

    .hero-subtext {
        font-size: 16px; 

    }

    .hero-btn {
        background: #1076BC !important;
        border: none;
        color: white;

    }

    .hero-btn:hover {
        background: #1076BC !important;
    }

    .hero-btn-border {
        /* border: 2px solid #0CA8C0; */
        border: none;
    }

    .hero-btn-border:hover {
        background: #1076BC;
        color: white;
    }
    .stats-section {
        /* position: relative; */
        justify-content: center;
        align-items: center;
        gap:10px;
        /* padding-top: 30px; */
        /* bottom: -30px; */
    }
    .stats-section h2 {
    color: #1076BC;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    }


    /* About Us  */

     
     .inner{
        margin: auto;
        width: 100%;  
        
     }
    .about-title {
    font-size: 38px;
    font-weight: 700;
    }
    .highlight {
    color: #1076BC;
    }
    .feature-icon {
        font-size: 16px;
        color: #1076BC;
        margin-right: 10px;
    }   
    .list-unstyled span{
        font-size: 16px;
         line-height: 1.8; 
        padding:12px; 
    }
    .main-image{
            width: 100%;
    }
    /* .main-image img{
        width: 800px;
    } */
    .main-content{
        width: 100%;
    }
  
 


    /* Serivices Section */
    
    .services-title {
        font-size: 40px;
        font-weight: 800;
        color: #111;
    }

    .services-title span {
        color: #1076BC;
    }

   

    .service-card {
        background:rgba(230, 230, 230, 1);
        padding: 22px;
        border-radius: 18px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.04);
        transition: 0.3s ease-in-out;
        border: 1px solid rgba(0,0,0,0.03);
    }

    .service-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px #1076BC;
    }

    .icon-box {
        width: 55px;
        height: 55px;
        background: #0CA8C01A;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: #1076BC;
        font-size: 26px;
    }

    /* Pricing section */

      .pricing-title{
        color: #1076BC;
    }
    .pricing-card {
        background: #FAFAFA;
        width:200px;
        border: 2px solid #eaeaea;
        transition: 0.2s ease-in-out;
    }

    .pricing-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px #1076BC;
        border:2px solid #1076BC;

    }
       .pricing-card h2{
        color: #1076BC;

       }
     .pricing-card button{
        background-color: #FFFFFF;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        font-weight: normal;
     }
    .pricing-card button:hover{
        background:#1076BC;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: normal;
        border: none;
     }

    .highlight-border {
        border: 2px solid #1076BC !important;
    }

    .popular-badge, .best-value-badge {
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        background: #1076BC;
        color: white;
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 10px;
        font-weight: normal;
    }

    .best-value-badge {
        background: #00c853;
    }

    .feature-box {     
     /* background-color: rgba(250, 250, 250, 1);z+*/
     background:  rgba(250, 250, 250, 1) ;
            box-shadow: 0 2px 10px rgba(0,0,0,0.04);


    }


    /* Contact Section */
.Contact{
    background: white;
}
    .contact-box {
        border: 2px solid #f1f1f1;
background:rgba(250, 250, 250, 1) ;        transition: 0.3s;
    }

    form{
background:rgba(250, 250, 250, 1) ;

    }
    
    #Contact span{
        color: #1076BC;
    }
    .contact-box:hover {
        border-color: #1076BC;
        transform: translateY(-3px);
    }

    .contact-box .icon-box {
        width: 50px;
        height: 50px;
        background: #e8fafd;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Contact button{
        color: white;
        background: #1076BC;
    }
    /* footer */
    .footer-section {
        background: #ffffff;
    }

    .footer-logo {
        width: 200px;
        opacity: 0.9;
    }
